@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  color: #333333;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;

}

/* Modo oscuro */
body.dark {
  background-color: #1a1a1a;
  color: #f5f5f5;
}

#app {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

html {
  scrollbar-gutter: stable;
}