@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  transition: background-color 0.1s ease, color 0.3s ease;
  font-family: "Noto Sans", serif;
  @apply text-text-color-primary bg-background-colors-primary

}

#app {
  margin: 0 auto;
  position: relative;
  width: 100%;
}

html {
  scrollbar-gutter: stable;
}